__pycache__/
*.pyc
.venv/
venv/
.git/
.idea/
.vscode/
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
*.log

.env
api/.env
backend/.env

artifacts/
catboost_info/
reports/
tests/
app/
api/app/backend/api/tests/
frontend/.dart_tool/
frontend/build/
