.venv/
venv/
ENV/
env/

__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
.eggs/
build/
dist/
.cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
htmlcov/
.coverage*

.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp

.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

android/.gradle/
android/local.properties
**/AndroidManifest.xml**.bak
**/GeneratedPluginRegistrant.*
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/.symlinks/
ios/ServiceDefinitions.json
ios/Pods/
macos/Pods/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/ephemeral/
windows/flutter/ephemeral/

.python-version
.venv.bak/

*.sqlite3
*.db
*.sav
*.rdata

node_modules/
pnpm-lock.yaml
package-lock.json
*.tsbuildinfo

api/core/.env
*.env.local



